/*.md~
/*.txt~
/.gitignore~
/em301_r.Rmd~
/log_file.txt
/NA
/*.aux
/em301_theory.log
/em301_theory.fdb_latexmk
/em301_theory.fls
/em301_theory.out
/em301_theory.pyg
/em301_theory.synctex.gz
/em301_theory.tdo
/*.R~
/*.csv~
/*.Rhistory
/*.R
/regression_in_R.html
/regression_in_R.md
/em301_theory.lyx
/*.Rdata
/.RData

em301_pset_v2/dollar_test.log

em301_pset_v2/dollar_test.Rnw

em301_pset_v2/dollar_test.aux

em301_pset_v2/dollar_test.out

em301_pset_v2/dollar_test.pdf

2013/kr_04/kr_04.tex

*.aux

2013/kr_04/rk_04.log

*.out

2013/kr_04/rk_04.synctex.gz

2013/kr_04/rk_04.tex

em301_pset_v2/chapters/em1_pset_v2.tex

em301_pset_v2/em1_pset_v2.pdf



em301_pset_v2/solutions.idx

em301_pset_v2/solutions.log

em301_pset_v2/solutions.synctex.gz

em301_pset_v2/solutions.tex

em301_pset_v2/solutions.toc

em301_pset_v2/zadachnik_po_ekonometrike.zip
