/*.md~
/*.txt~
/.gitignore~
/em301_r.Rmd~
/log_file.txt
/NA
/*.aux
/em301_theory.log
/em301_theory.fdb_latexmk
/em301_theory.fls
/em301_theory.out
/em301_theory.pyg
/em301_theory.synctex.gz
/em301_theory.tdo
/*.R~
/*.csv~
/*.Rhistory
/*.R
/regression_in_R.html
/regression_in_R.md
/em301_theory.lyx
/*.Rdata
/.RData

em301_pset_v2/dollar_test.log

em301_pset_v2/dollar_test.Rnw

em301_pset_v2/dollar_test.aux

em301_pset_v2/dollar_test.out

em301_pset_v2/dollar_test.pdf

2013/kr_04/kr_04.tex

*.aux

2013/kr_04/rk_04.log

*.out

2013/kr_04/rk_04.synctex.gz

2013/kr_04/rk_04.tex

em301_pset_v2/chapters/em1_pset_v2.tex

em301_pset_v2/em1_pset_v2.pdf



em301_pset_v2/solutions.idx

em301_pset_v2/solutions.log

em301_pset_v2/solutions.synctex.gz

em301_pset_v2/solutions.tex

em301_pset_v2/solutions.toc

em301_pset_v2/zadachnik_po_ekonometrike.zip

2013/kr_ml_2014_02/kr_ml.blg

2013/kr_ml_2014_02/kr_ml.log

2013/kr_ml_2014_02/kr_ml.synctex.gz

em301_pset_v2/chapters/020_ols_2_no_matr.log

em301_pset_v2/zadachnik_po_ekonometrike.pdf

em301_pset_v2/chapters/020_ols_2_no_matr.tex

em301_pset_v2/texput.log

em301_pset_v2/texput.log

2013/ht_rlms/ht_rlms.log

2013/ht_rlms/ht_rlms.synctex.gz

2013/ht_rlms/ht_rlms.tex

2013/ht_rlms/ht_rlms-concordance.tex

2013/binst_metrix_exam_14/binst_metr_exam_14.log

2013/binst_metrix_exam_14/binst_metr_exam_14.synctex.gz

2013/binst_ts_exam_14/binst_ts_exam_14.log

2013/binst_ts_exam_14/binst_ts_exam_14.synctex.gz

2013/kr_hetero/kr_hetero.log

2013/kr_hetero/kr_hetero.synctex.gz

2013/kr_ml_2/kr_ml2.log

2013/kr_ml_2/kr_ml2.synctex.gz

em301_pset_v2/em1_pset_solo.idx

em301_pset_v2/em1_pset_solo.log

em301_pset_v2/em1_pset_solo.synctex.gz

em301_pset_v2/em1_pset_solo.tex

R_cycle/figure/*.*



2013/ht_titanic/ht_titanic.log

2013/ht_titanic/ht_titanic.synctex.gz

R_cycle/03_logit_regression.html







R_cycle/figure/unnamed-chunk-4.png

R_cycle/figure/unnamed-chunk-5.png

exam_project/em301_exam_2014.tex

R_cycle/figure/unnamed-chunk-4.png

R_cycle/figure/unnamed-chunk-5.png

em301_pset_v2/chapters/120_series.log

buza/topics/buza_2014.synctex.gz

buza/topics/buza_2014.log

exam_project/Untitled.R

buza/buza_pamiatka.log

buza/buza_pamiatka.synctex.gz

buza/buza_pamiatka.tex

buza/buza_pamiatka.pdf

*.jpg

buza/demotivators/506px-Correlation_examples2.svg.png

buza/demotivators/buza_demotivators.zip

buza/demotivators/extrapolating.png

buza/demotivators/correlation.png

2013/sem_01_rnw_demo/figure/unnamed-chunk-21.png

2013/sem_01_rnw_demo/figure/unnamed-chunk-22.png

2014/kr_01/kr_01.log

2014/kr_01/kr_01.synctex.gz

exam_project/em301_exam_14_retake.tex

em301_pset_v2/errata/metrics_errata.blg

em301_pset_v2/errata/metrics_errata.log

em301_pset_v2/errata/metrics_errata.synctex.gz

2014/kr_02/kr_02.synctex.gz

2014/kr_02/kr_02.log

2014/kr_02/kr_02-concordance.tex

em301_pset_v2/solutions_only/solutions.idx

em301_pset_v2/solutions_only/solutions.log

em301_pset_v2/solutions_only/solutions.synctex.gz

em301_pset_v2/solutions_only/solutions.toc

em301_pset_v2/problems_only/em1_pset_solo.synctex.gz

em301_pset_v2/problems_only/em1_pset_solo.log

em301_pset_v2/problems_only/em1_pset_solo.idx
