/*.md~
/*.txt~
/.gitignore~
/em301_r.Rmd~
/log_file.txt
/NA
/*.aux
/em301_theory.log
/em301_theory.fdb_latexmk
/em301_theory.fls
/em301_theory.out
/em301_theory.pyg
/em301_theory.synctex.gz
/em301_theory.tdo
/*.R~
/*.csv~
