/kr_04_ml_2r.aux
/kr_04_ml_2r.log
/kr_04_ml_2r.out
/kr_04_ml_2r.pyg
/kr_04_ml_2r.synctex.gz
/kr_04_ml_red_rose.aux
/kr_04_ml_red_rose.log
/kr_04_ml_red_rose.out
/kr_04_ml_red_rose.pyg
/kr_04_ml_red_rose.synctex.gz
/kr_04_ml_white_rose.aux
/kr_04_ml_white_rose.log
/kr_04_ml_white_rose.out
/kr_04_ml_white_rose.pyg
/kr_04_ml_white_rose.synctex.gz
