/example1-pstool.aux
/example1-pstool.log
/example1-pstool.out
/example1-pstool.pdf
/example1-pstool.tex
/example1.eps
/example1.tex
/*.tex
/banka_06.aux
/banka_06.log
/banka_06.out
/banka_06.synctex.gz
/pstool-statusfile.txt
