/cache/
/figure/
/em1_na_organy.aux
/em1_na_organy.idx
/em1_na_organy.log
/em1_na_organy.out
/em1_na_organy.pdf
/em1_na_organy.pyg
/em1_na_organy.synctex.gz
/em1_na_organy.tdo
/em1_na_organy.tex
/em1_na_organy.toc
