/em301_hrusha_ht_02-concordance.tex
/em301_hrusha_ht_02.log
/em301_hrusha_ht_02.synctex.gz
/*.tex
/NA
/*.Rhistory
/em301_hrusha_ht_02.aux
/em301_hrusha_ht_02.out
/em301_hrusha_ht_02_to_lyx.Rnw
/em301_hrusha_ht_02_to_lyx.lyx
/test.log
/test.pdf
/*.synctex.gz
/*.Rnw
