/Program 2011.doc
/Расчет результирующей оценки за экзамен.doc
/Рекомендации по выполнению задания.doc
/Темы контрольных работ.doc
/Экзамен (результаты).xls
/Задание1-3101.doc
/Задание1.xls
/Задание2-3101.doc
/Задание2.xls
/Контрольная работа 2.doc
/Задание3-3101.doc
/Задание3.xlsx
/Задание4-3101.doc
/Задание4.xls
/Контрольная работа 3.docm
/Контрольная работа 4.doc
/Задание1.doc
/Задание2.doc
/Задание3.doc
/Задание4.doc
/Контрольная работа 6.doc
