/em502_kr_02.aux
/em502_kr_02.log
/em502_kr_02.out
/NA
/em502_kr_02.pyg
/em502_kr_02.synctex.gz
/em502_kr_02.tex
/em502_kr_02_banks-concordance.tex
/em502_kr_02_banks.log
/em502_kr_02_banks.pyg
/em502_kr_02_banks.synctex.gz
/em502_kr_02_banks.tex
/.Rhistory
