/01_qualitative_variable.html
/01_qualitative_variable.md
/NA
/04_qualit_graphs.html
/04_qualit_graphs.md
/05_multicollinearity.html
/05_multicollinearity.md
/06_pca.html
/06_pca.md
/07_quant_reg.html
/07_quant_reg.md
/09_panel_regression.html
/09_panel_regression.md
/10_diff_eq.html
/10_diff_eq.md
/02_ols_oranges.html
/02_ols_oranges.md
/11_svm.html
/11_svm.md
/12_hetero.html
/12_hetero.md
/13_parsing.html
/13_parsing.md
/14_maps.html
/14_maps.md
/15_mcmc_pack.html
/*.md
/17_ml.html
/.Rhistory
/18_data_transform.html
/*.html
